
<div class="work-section" id="projects">
    <h2>My Work</h2>


    <div class="work" data-aos="flip-up"        data-aos-duration="1200">
        <div>
            <div class="work-pic">
                <img src="assets/img/elpolloloco.png">
            </div>
        </div>
        <div data-aos="flip-up">
            <div class="work-box">
                <h3>El Pollo Loco</h3>
                <span>Javascript | OOP | CSS </span>
                <p>Little Jump and Run Game with somes</p>
                <div class="button-wrapper">
                    <a href="#" target="_blank"><button>Show code</button></a>
                    <a href="#" target="_blank"><button>Try it out</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="work row-reverse" data-aos="flip-up" data-aos-duration="1200">
        <div>
            <div class="work-pic">
                <img src="assets/img/work-dummy.jpg">
            </div>
        </div>
        <div data-aos="flip-up">
            <div class="work-box">
                <h3>Cryptocurency</h3>
                <p>HTML | CSS | Javascript | API|</p>
                <div class="button-wrapper">
                    <a href="#" target="_blank"><button>Show code</button></a>
                    <a href="#" target="_blank"><button>Try it out</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="work" data-aos="flip-up" data-aos-duration="1200">
        <div>
            <div class="work-pic">
                <img src="assets/img/work-dummy.jpg">
            </div>
        </div>
        <div data-aos="flip-up">
            <div class="work-box">
                <h3>Kanban</h3>
                <p>Projektbeschreibung 2</p>
                <div class="button-wrapper">
                    <a href="#" target="_blank"><button>Show code</button></a>
                    <a href="#" target="_blank"><button>Try it out</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="work row-reverse" data-aos="flip-up" data-aos-duration="1200">
        <div>
            <div class="work-pic">
                <img src="assets/img/ringoffire.png">
            </div>
        </div>
        <div data-aos="flip-up">
            <div class="work-box">
                <h3>Ring of Fire</h3>
                <p>Angular | Typescript | SCSS | Firebase</p>
                <div class="button-wrapper">
                    <a href="#" target="_blank"><button>Show code</button></a>
                    <a href="https://ringoffire-4cc84.web.app/" target="_blank"><button>Try it out</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
