
<div class="work-section" id="projects">
    <h2>My Work</h2>

    <div class="work" data-aos="zoom-out-left" data-aos-duration="1200">
        <div>
            <div>
                <img src="assets/img/elpollolocoPortfolio.png">
            </div>
        </div>
        <div data-aos="zoom-out-left">
            <div class="work-box">
                <h3>El Pollo Loco</h3>
                <span>Javascript | OOP | CSS </span>
                <p>Little Jump and Run Game based on OOP Programming</p>
                <div>
                    <a href="#" target="_blank"><button>Show code</button></a>
                    <a href="https://manuel-greulich.github.io/El-Pollo-Loco/" target="_blank"><button>Try it out</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="work row-reverse" data-aos="zoom-out-right" data-aos-duration="1200">
        <div>
            <div>
                <img src="assets/img/bitcoin.png">
            </div>
        </div>
        <div data-aos="zoom-out-right">
            <div class="work-box">
                <h3>Cryptocurency</h3>
                <span>HTML | CSS | Javascript | API |</span>
                <p>This Bitcoin app shows the exchange rate between BTC and USD and shows current Price Data and Price History </p>
                <div>
                    <a href="#" target="_blank"><button>Show code</button></a>
                    <a href="https://manuel-greulich.developerakademie.net/quandl%20NEU%20a/index.html" target="_blank"><button>Try it out</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="work" data-aos="zoom-out-left" data-aos-duration="1200">
        <div>
            <div>
                <img src="assets/img/work-dummy.jpg">
            </div>
        </div>
        <div data-aos="zoom-out-left"> 
            <div class="work-box">
                <h3>Kanban</h3>
                <p>Projektbeschreibung 2</p>
                <div>
                    <a href="#" target="_blank"><button>Show code</button></a>
                    <a href="#" target="_blank"><button>Try it out</button></a>
                </div>
            </div>
        </div>
    </div>

    <div class="work row-reverse" data-aos="zoom-out-right" data-aos-duration="1200">
        <div>
            <div>
                <img src="assets/img/ringoffire.png">
            </div>
        </div>
        <div data-aos="zoom-out-right">
            <div class="work-box">
                <h3>Ring of Fire</h3>
                <span>Angular | Typescript | SCSS | Firebase</span>
                <p>A classic famous Multiplayer game, well known as "Kings Cup"</p>
                <div>
                    <a href="#" target="_blank"><button>Show code</button></a>
                    <a href="https://ringoffire-4cc84.web.app/" target="_blank"><button>Try it out</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
    