<div class="second-section" id="skills">


    <div class="second-section-content">
        <h2>My Skills</h2>
        <div class="skill-section">

            <div class="box" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="50">
                <div class="box-logo">
                    <img src="assets/img/javascript.png" alt="">
                </div>
                <span>HTML/CSS</span>
            </div>

            <div class="box" data-aos="fade-right" data-aos-duration="1200">
                <div class="box-logo">
                    <img src="assets/img/htmlcss.png" alt="">
                </div>
                <span>Javascript</span>
            </div>

            <div class="box" data-aos="fade-right" data-aos-duration="1200">
                <div class="box-logo">
                    <img src="assets/img/angular2.jpg" alt="">
                </div>
                <span>Angular</span>
            </div>

            <div class="box" data-aos="fade-left" data-aos-duration="1200">
                <div class="box-logo">
                    <img src="assets/img/scrum.png" alt="">
                </div>
                <span>SCRUM</span>
            </div>

            <div class="box" data-aos="fade-left" data-aos-duration="1200">
                <div class="box-logo">
                    <img src="assets/img/Git.png" alt="">
                </div>
                <span>Git</span>
            </div>

            <div class="box" data-aos="fade-left" data-aos-duration="1200">
                <div class="box-logo">
                    <img src="assets/img/restAPI.png" alt="">
                </div>
                <span>Rest API</span>
            </div>

            <div class="box" data-aos="fade-right" data-aos-duration="1200">
                <div class="box-logo">
                    <img src="assets/img/database.png" alt="">
                </div>
                <span>Database</span>
            </div>

            <div class="box" data-aos="fade-right" data-aos-duration="1200">
                <div class="box-logo">
                    <img src="assets/img/htmlcss.png" alt="">
                </div>
                <span>Firebase</span>
            </div>

            <div class="box" data-aos="fade-right" data-aos-duration="1200">
                <div class="box-logo">
                    <img src="assets/img/design.png" alt="">
                </div>
                <span>Design Thinking</span>
            </div>

        </div>


    </div>


</div>