<div class="second-section" id="skills">


    <div class="second-section-content">
        <h2>My Skills</h2>
        <div class="skill-section">

            <div class="box" data-aos="fade-right" data-aos-duration="1000">
                <div class="box-logo">
                    <img src="assets/img/html5.png" alt="">
                </div>
                <span>HTML/CSS</span>
            </div>

            <div class="box" data-aos="fade-right" data-aos-duration="1000">
                <div class="box-logo">
                    <img src="assets/img/js.png" alt="">
                </div>
                <span>Javascript</span>
            </div>

            <div class="box" data-aos="fade-right" data-aos-duration="1000">
                <div class="box-logo">
                    <img src="assets/img/angular2.jpg" alt="">
                </div>
                <span>Angular</span>
            </div>

            <div class="box" data-aos="fade-left" data-aos-duration="1000">
                <div class="box-logo">
                    <img src="assets/img/scrum.png" alt="">
                </div>
                <span>SCRUM</span>
            </div>

            <div class="box" data-aos="fade-left" data-aos-duration="1000">
                <div class="box-logo">
                    <img src="assets/img/Git.png" alt="">
                </div>
                <span>Git</span>
            </div>

            <div class="box" data-aos="fade-left" data-aos-duration="1000">
                <div class="box-logo">
                    <img src="assets/img/restAPI.png" alt="">
                </div>
                <span>Rest API</span>
            </div>

            <div class="box" data-aos="fade-right" data-aos-duration="1000">
                <div class="box-logo">
                    <img src="assets/img/box_typescript.png" alt="">
                </div>
                <span>Typescript</span>
            </div>

            <div class="box" data-aos="fade-right" data-aos-duration="1000">
                <div class="box-logo">
                    <img src="assets/img/box_firebase.png" alt="">
                </div>
                <span>Firebase</span>
            </div>

            <div class="box" data-aos="fade-right" data-aos-duration="1000">
                <div class="box-logo">
                    <img src="assets/img/bootstrap.png" alt="">
                </div>
                <span>Bootstrap</span>
            </div>

        </div>


    </div>


</div>