.main-section {
    height: 100vh;
    background-color: #000000;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.main-content{
    max-width: 1100px;
    width: 100vw;

    @media(max-width: 1100px){
        margin-top: 80px;
    }
}



h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 64px;

    @media (max-width: 1100px) {
        font-size: 36px;
    }
}

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;



    @media (max-width: 1100px) {
        flex-direction: column-reverse;
        margin-top: unset !important;
    }
}



.btn-contact {
        text-decoration: none;
        background-color: #000000;
        color: #2dfcd8;
        border: 1px solid #2dfcd8;
        width: 300px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    
        &:hover {
            background-color: #2DFCD8;
            color: white;
        }

        @media (max-width: 1100px) {
            width: unset !important;
        }
    }



.intro-style {
    color: #FA2759;

    &:hover{
        color: #2DFCD8;
    }
}

.intro-stylesecond {
    color: #2DFCD8;
}



.intro-right{


    img {
        width: 300px;
        height: auto;
        border-radius: 100%;

        @media (max-width: 1100px) {
            width: 200px;
            height: 200px;
        }
    }
}

.intro-btn {
    margin-bottom: 115px;
    height: 20px;
    width: 20px;
    border: 1px solid white;
    border-radius: 100%;
    padding: 10px;
    
}


// .navbar{
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
    
//     a {
//         padding-right: 25px;
//         letter-spacing: 2px;
//     }

//     a:hover{
//        color: #FA2759; 
//        cursor: pointer;
//     }

//     img{
//         height: 70px;
//         width: 70px;
//         margin-top: 20px;
//     }
// }