<div class="main-section">
    <div class="main-content">

        <div class="intro">
            <div class="intro-left" data-aos="fade-left" data-aos-duration="1200">
                <h1>Hi, <br> I'm <span class="intro-style">Manuel </span>Greulich <br> Front End Develop<span class="intro-stylesecond">e</span>r</h1>
                <a class="btn-contact" href="#contact">Contact Me</a>
            </div>

            <div class="intro-right" data-aos="fade-right" data-aos-duration="1200">
                <img src="assets/img/GreulichManuel2.jpg" alt="">
            </div>
        </div>   

    </div>

  
       <a href="#skills"> <img class="intro-btn" src="assets/img/introbtn.png" alt=""> </a>

</div>

<app-skills-section></app-skills-section>
<app-projects-section></app-projects-section>
<app-about-section></app-about-section>
<app-contact-section></app-contact-section>