<div class="fifth-section" id="contact">

    <div class="fifth-section-content">

        <div>
            <h1 data-aos="fade-right" data-aos-duration="1000" >Contact Me.</h1>
            <p data-aos="fade-left" class="titleDescrip">Get in touch via the form below, or by emailing 
            <a data-aos="fade-left"  href="mailto:manuelgreulich@yahoo.com">manuelgreulich@yahoo.com</a></p>
        </div>
        <form  data-aos-duration="1000"  data-aos="flip-left"  action="https://manuel-greulich.developerakademie.net/portfolioemail/send_mail.php" method="POST">

            <div>
                <span class="title">Name</span><br>
                <input type="text" id="name" name="name" placeholder="Enter your name" required>
            </div>

            <div>
                <span class="title">E-mail address</span><br>
                <input type="email" id="email" name="email" placeholder="Enter your E-mail address" required>
            </div>

            <div>
                <span class="title">Message</span><br>
                <textarea class="textarea-style" name="message" id="message" placeholder="Write Your Message" minlength="15" required></textarea>
            </div>

            <div class="btn-contact">
                <button class="submitbtn" type="submit" required>Send</button>
            </div>


        </form>

    </div>
    
</div>