.fifth-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #000000;
    padding-bottom: 40px;


}

@media(max-width: 1000px)
{
    .fifth-section-content {
        margin-left: 50px;
    }

}



h1 {
    color: #2DFCD8;
    font-size: 64px;
    margin-block-end: 0.2em;
}

p{
    color: white;
    margin-bottom: 60px;
}

span {
    font-size: 18px;
    color: white;
}

a{
    color: #2DFCD8;
    text-decoration: none;

}



input, textarea{
    border: none;
    outline: none;
    color: white;
    background-color: #1a1a1a;
    padding: 10px;
    width: 100%;
    height: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 18px;
    resize: none; // textare nicht größer ziehen 

    &:focus{
        border: 1px solid #2DFCD8;
    }

    @media(max-width: 1000px){
        width: 85%;
    }
}

.textarea-style{
    height: 180px;
}

button {
    font-size: 18px;
    border: 2px solid #2DFCD8;
    height: 55px;
    width: 150px;
    background-color: black;
    color: #2DFCD8;

    &:hover{
        background-color: #2DFCD8;
        color: black;
        cursor: pointer;
    }
}

.btn-contact{
    display: flex;
    align-items: center;
    width: 100%;

    @media(max-width: 1000px){
      width: 90%;
    }
}
