<div class="fourth-section" id="about">
    <div class="fourth-section-content">

        <div class="aboutme">
            <img data-aos="fade-right" data-aos-duration="1200" src="assets/img/Manuel.JPG" alt="">
            <div class="aboutme-text">
                <h1 data-aos="fade-left" data-aos-duration="1200">About me</h1>
                <span data-aos="fade-left" data-aos-duration="1200">"a passionate Frontend Developer with a background in office engineering who loves pushing boundaries and learning new exciting things."</span>
            </div>
        </div>

        <div class="aboutme-description">
            <div class="aboutme-info-section" data-aos="fade-right" data-aos-duration="1200">
                <img src="assets/img/walk.png" alt="">
                <h3>My journey began</h3>
                <span>in my school Time, I made my first experience and was already very interested in software and hardware of different kinds of electronics. </span>
            </div>

            <div class="aboutme-info-section" data-aos="fade-left" data-aos-duration="1200">
                <img src="assets/img/code.png" alt="">
                <h3>Coding</h3>
                <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Suscipit nostrum quas molestias!</span>
            </div>

            <div class="aboutme-info-section" data-aos="fade-right" data-aos-duration="1200">
                <img src="assets/img/heart.png" alt="">
                <h3>My first Steps</h3>
                <span>I wanted to learn more about programming, I did self studies, several video tutorials and build my first Website, now I found my new Passion and wanted to become a professional Developer.</span>
            </div>

            <div class="aboutme-info-section" data-aos="fade-left" data-aos-duration="1200">
                <img src="assets/img/flight.png" alt="">
                <h3>Software engineer</h3>
                <span>I decided to follow my heart, I became a student and completed the intensive course at the Developer Academy in August 2022 with a professional road map of frontend development.</span>
            </div>

        </div>
    </div> 
</div>
