.Impressum{
    background-color: #000000;
    color: white;
    text-align: center;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
}

.bg-black{
    background-color: black;
}